.creche-page h1{
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    color: #192F59;
    /* padding-block: 60px; */
}
.creche-wrapper{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
.creche-images-vertical img{
    width: 500px;
}
.creche-wrapper h2{
    font-size: 35px;
    font-weight: 300;
    width: 1200px;
    color: #192F59;
}
.creche-text-content{
    width: 500px;
}
.creche-text-content h2{
    width: 600px;
}
.creche-text-content p{
    color: #333333;
    width: 600px;
}


@media only screen and (max-width: 600px) {
  
    .creche-page {
      display: inline-block;
      margin: 0 auto;
      width: 100%;
      position: relative;
      z-index: -1;
    }

    .creche-wrapper{
        display: block;
        margin: 0 auto;
        width: 80%;
    }

    .creche-images-vertical img{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .creche-text-content{
        display: block;
        width: 100%;
        margin: 0 auto;  
    }
    .creche-text-content h2{
        display: block;
        width: 100%;
        margin: 0 auto;  
    }
    .creche-text-content p{
        display: block;
        width: 100%;
        margin: 0 auto;  
    }
  }