* {
  margin: 0;
  padding: 0;
}

.carousel-wrapper {
  height: 550px;
  position: relative;
  width: 100%;
  display: block;
  margin: 50px auto;
  /* margin-top: 250px; */
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);


}

.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background: url('./Technology-removebg-preview.png');
  background-color: gray;
  background-size: cover;
  width: 100%;
  height: 70vh;
  background-size: 100%;
  background-repeat: no-repeat;
}

.item-2 {
  background: url('./images/Smart-program.jpg');
  background-size: cover;
  width: 100%;
  height: 70vh;
  background-size: 100%;
  background-repeat: no-repeat;
}

.item-3 {
  background: url('./images/Art-and-culture.jpg');
  background-size: cover;
  width: 100%;
  height: 70vh;
  background-size: 100%;
  background-repeat: no-repeat;
}

*:target~.item-1 {
  opacity: 0;
}

#item-1:target~.item-1 {
  opacity: 1;

}

#item-2:target~.item-2,
#item-3:target~.item-3 {
  z-index: 3;
  opacity: 1;
}

.text-slidder {
  margin-left: 62%;
  margin-top: 150px;
}

.text-slidder h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #192F59;
}

.text-slidder button {
  margin-top: 100px;
  margin-left: 20px;
  white-space: nowrap;
  color: #fff;
  background-color: #192F59;
  font-size: 15px;
  font-weight: 700;
  padding: 18px 35px;
  text-transform: uppercase;
  border-radius: 13px;
  box-shadow: 0 1px 0px 1px #192F59
}



@media only screen and (max-width: 600px) {

  /* .carousel-wrapper{
    display: none;
  } */
  .item-1 {
    background: url('./images/Mobile-Technology.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .item-1 img {
    width: 100px;
  }

  .item-2 {
    background: url('./images/Mobile-Brain-Development-Program.jpg');

    background-size: 100%;
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
  }

  .item-3 {
    background: url('./images/Mobile-Arts-and-Culture.jpg');
    background-size: 100%;
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
  }

  .arrow-prev {
    margin-top: 120px;
    left: 30px;
    position: absolute;
    top: 100px;
    transform: translateY(-50%) rotate(135deg);


  }

  .arrow-next {
    margin-top: 120px;
    right: 30px;
    position: absolute;
    top: 100px;
    transform: translateY(-50%) rotate(-45deg);
  }

  .text-slidder {
    margin-left: 62%;
    margin-top: 10px;
    display: none;
  }

  .text-slidder h1 {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #192F59;
    margin-left: 20px;
  }

  .text-slidder button {
    margin-top: 10px;
    margin-left: 20px;
    color: #fff;
    background-color: #192F59;
    font-size: 15px;
    font-weight: 700;
    padding: 5px 15px;
    text-transform: uppercase;
    border: none;
    border-radius: 2;

  }
}

/* .carousel-wrapper{
    margin: 0;
    margin-bottom: 0;
  }
} */